* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
    position: sticky;
    top: 0%;
    z-index: 999;
    background-color: white;
}


.icons {
    text-align: end;
    margin-right: 35px;
    position: relative;
}

header .icons .count {
    font-size: 12px;
    line-height: 1;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;

    position: absolute;
    bottom: 55%;
    right: 107px;
    width: 20px;
    height: 20px;
    color: #fff;
    border-radius: 100%;
    background-color: #000;

}

.icons .amount {
    cursor: pointer;
    transition: all 0.4s ease-in-out 50ms;
}

.icons i {
    cursor: pointer;
    padding: 12px;
    background-color: white;
    transition: all 0.4s ease-in-out 50ms;
}

header .icons i:hover {
    color: #C7A17A;
    opacity: 3;
}

header .icons .amount:hover {
    opacity: 1;
    color: #C7A17A;
}

header .logo {
    width: 80%;
}


.logo img {
    margin-left: 35px;
}

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
    padding: 10px 20px;

}

nav ul li a {
    display: block;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    color: #C7A17A;
    text-decoration: none;
}

nav ul li ul.dropdown {
    min-width: 250%;
    background: white;
    opacity: 0;
    visibility: hidden;
    top: 159%;
    position: absolute;
    z-index: 999;
    left: 0;
    transition: all 0.4s ease 0s;

}

nav .sub-menu:hover .dropdown {
    opacity: 1;
    visibility: visible;
}

nav ul li:hover ul.dropdown {
    display: block;
}

nav ul li ul.dropdown li {
    display: block;
}

.navbar {
    display: flex;
    position: relative;
    right: 20%;
    padding-top: 20px;
    margin-right: 90px;
    justify-content: left;
    align-items: center;
}





/* nav a {
    font-size: 18px;
    line-height: 30px;
    color: black;
    position: relative;
    display: block;
    padding: 24px;

    font-family: 'Open Sans', sans-serif;
} */

main {
    background-image: url(https://htmldemo.net/kofi/kofi/assets/images/hero-slider/home-2/slide-1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

}

main .text {
    position: relative;
    top: 50%;
}

main .text h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #fff;
}

main .text h2 {
    font-size: 80px;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

main .text p {
    font-size: 18px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}

main .text a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
    border-radius: 50px;
    gap: 6px;
    background-color: #C7A17A;
    border: none;
    margin-top: 30px;
}


#About {
    padding: 10rem 0;
}

#About span {
    font-size: 16px;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #C7A17A;
}

#About h2 {
    font-size: 45px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 18px;
    font-family: "Oswald", sans-serif;
}

#About p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
}

#About a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
    border-radius: 50px;
    gap: 6px;
    margin-top: 20px;

}

#Service #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;
}

#Service #main-text h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
}

#Service .card img {
    width: 27%;
    margin-top: 35px;
    padding-left: 20px;
}

#Service .card {

    width: 100.4444444444%;
    height: 250px;
    margin: 15px;
    position: relative;
    top: 12%;
    right: 5%;
}


#Service #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;
}

#Service #main-text h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;

}

.card .card-body h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
    font-size: 24px;
    margin-bottom: 10px;
}

.card .card-body p {
    font-size: 14px;
    margin: 0;
}

#Area #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;
}

#Area #main-text h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;

}


#Area {
    padding: 5rem 0;
}

#Area #main-text {
    padding-top: 20px;
}

#Area .card-body .reservation-text h6 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #C7A17A;
}

#Area .card-body .book h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
}

#Area .map {
    position: absolute;
    top: 6%;

}

#Area button {
    font-weight: 600;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 180px;
    position: relative;
    right: 17%;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
}

.right-form {
    position: relative;
    left: 7%;
}

#Collection #main-text h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: #1F2226;
    font-size: 40px;

}

#Collection #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;

}

#Collection #main-text button {
    border: none;
    padding: 20px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 25px;
    font-weight: normal;
    text-transform: uppercase;
    border: none;
    background-color: transparent;

}

#Collection {
    overflow: hidden;
}

#Collection .card {
    position: relative;
    overflow-x: hidden;
}

#Collection .card img {
    width: 100%;

}

#Collection .bottom .card-body h5 {
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #1F2226;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;

}

#Collection .product-price {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
    color: #C7A17A;
    gap: 10px;
}

.product-badge-left span {
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    bottom: 93%;
    left: 5%;

    min-width: 50px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;

    color: #fff;
    background-color: #C7A17A;

}

.product-badge-right span {
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    position: absolute;
    bottom: 87%;
    left: 75%;
    min-width: 50px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-color: #1F2226;
}

.product-badge-top-right span {
    position: absolute;
    bottom: 93%;
    left: 75%;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    min-width: 50px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-color: #1F2226;
}


#Client {
    margin-top: 20px;
    background-image: url(https://htmldemo.net/kofi/kofi/assets/images/testimonial/testimonial-bg.png);
    background-size: cover;
    background-position: center;
    padding: 110px 0;
    text-align: center;
    background-color: #F6F6F6 !important;
}


#Client .bottom img {
    margin-top: 40px;
    margin-bottom: 20px;
}

#Client #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;
}

#Client #main-text h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
}

#Client .bottom h5 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
    font-size: 14px;
    margin-top: 35px;

}

#Client .bottom p {
    font-size: 20px;
    font-style: italic;
    margin-top: 25px;
    margin-bottom: 20px;
    max-width: 687px;
    margin-left: 13rem;
}

#Gallery {
    padding: 10rem 0;

}

#Gallery .all {
    margin: -10 40px;
}

#Gallery .gallery-item {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border: 1px solid #E5E5E5;
    background-color: #fff;
}

#Gallery #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;
}

#Gallery #main-text h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
    font-size: 40px;
}

#Gallery .gallery-item:hover {
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#Gallery .gallery-item:hover .gallery-item-overlay {
    visibility: visible;
    opacity: 1;
}

#Gallery .gallery-item-overlay {
    position: absolute;
    top: 10px;
    right: -2px;
    bottom: 10px;
    left: 10px;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease 0s;
    opacity: 0;
    background-color: rgba(199, 161, 122, 0.85);
}

#Gallery .gallery-item i {
    font-size: 30px;
}




#phone-header {
    display: none;
    overflow-x: hidden;
    position: sticky;
    box-shadow: 0 5px 10px rgb(0 0 0 / 5%);
    top: 0;
    z-index: 999;
    background-color: white;

}




.ph-all .left-logo img {
    position: relative;
    right: 15%;

}

.ph-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.right .icons {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#phone-main {
    background-image: url(https://htmldemo.net/kofi/kofi/assets/images/hero-slider/home-2/slide-1.jpg);
    background-position: center;
    background-size: cover;
    height: 50vh;
    position: relative;
    display: none;
}


#phone-main .text h5 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    color: #fff;
    padding-top: 10px;
    margin-right: 10px;
    position: relative;
    right: 5%;
}

#phone-main .text h2 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.125;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
    right: 5%;
    font-family: 'Oswald', sans-serif;
}

#phone-main .text p {
    font-size: 14px;
    color: #fff;
    position: relative;
    right: 5%;
    font-family: "Open Sans", sans-serif;
}

#phone-main .text a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
    border-radius: 50px;
    gap: 6px;
    background-color: #C7A17A;
    border: none;
    position: relative;
    right: 6%;

}

#phone-about {
    display: none;
    overflow: hidden;
}

#phone-about .text img {
    width: 100%;
    margin-top: 50px;
}

#phone-about .text-bottom {
    margin-top: 30px;
    position: relative;
    right: 5%;
}

#phone-about span {
    font-size: 16px;
    line-height: 1.25;
    display: block;
    margin-bottom: 15px;
    color: #C7A17A;
}

#phone-about h2 {
    font-size: 30px;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 18px;
    font-family: "Oswald", sans-serif;
}

#phone-about p {
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.75;
    margin-bottom: 10px;
}

#phone-about a {
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 13px 22px;
    background-color: black;
    text-align: center;
    white-space: nowrap;
    border-width: 2px;
    border-radius: 50px;
    gap: 6px;
    margin-top: 20px;
}

#phone-service {
    padding: 3rem 0;
    overflow: hidden;
}

#phone-service #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;

}

#phone-service #main-text h2 {
    font-family: "Oswald", sans-serif;

    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
    font-size: 24px;
}

#phone-service .card img {
    width: 30%;
    margin-top: 35px;
    padding-left: 20px;
}

#phone-service .card {
    max-height: 700px;
    margin-top: 25px;
}

#phone-service #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;
}

#phone-service #main-text h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
}


#phone-area #main-text p {
    font-size: 18px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;
}

#phone-area #main-text h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;

}


#phone-area {
    padding: 1rem 0;
    overflow: hidden;
    position: relative;
}

#phone-area #main-text {
    padding-top: 20px;
    margin-left: 55px;
}

#phone-area #main-text p {
    font-size: 16px;
}

#phone-area #main-text h2 {
    font-size: 24px;
}

#phone-area .card-body .reservation-text h6 {
    font-size: 14px;
    margin-bottom: 5px;
    color: #C7A17A;
}



#phone-area .card-body .book h6 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
}

#phone-area .map {
    position: relative;
    right: 3.5%;
}

#phone-area button {}

#phone-area .right-form {
    margin-top: 40px;
    margin-right: 110px;

}

#phone-area .card {
    width: 140%;

}


#phone-collection #main-text h2 {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: #1F2226;
    font-size: 24px;


}

#phone-collection #main-text p {
    font-size: 16px;
    line-height: 1.25;

    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;

}

#phone-collection #main-text button {
    border: none;
    padding: 5px;
    background-color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 3;
    position: relative;

    font-weight: normal;
    text-transform: uppercase;
    border: none;
    background-color: transparent;

}

#phone-collection {
    overflow: hidden;
}

#phone-collection .card {
    position: relative;
    overflow-x: hidden;
}

#phone-collection .card img {
    width: 100%;

}

#phone-collection .card-body h5 {
    line-height: inherit;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #1F2226;
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}

#phone-collection .product-price {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    display: flex;
    align-items: center;
    color: #C7A17A;
    gap: 10px;
}

#product-collection .product-badge-left span {
    font-size: 10px;
    font-weight: 700;
    position: absolute;
    bottom: 93%;
    left: 5%;
    min-width: 50px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    color: #fff;
    background-color: #C7A17A;

}

#product-collection .product-badge-right span {
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    position: absolute;
    bottom: 87%;
    left: 75%;
    min-width: 50px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-color: #1F2226;
}

#phone-collection #product-collection .product-badge-top-right span {
    position: absolute;
    bottom: 93%;
    left: 75%;
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;

    min-width: 50px;
    padding: 3px 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    background-color: #1F2226;
}

#phone-collection {
    display: none;
}

#phone-service {
    display: none;
}

#phone-area {
    display: none;
}

#phone-client {
    background: #F6F6F6;
    padding: 60px 0;
    display: none;
    text-align: center;
}

#phone-client .bottom {
    margin-top: 40px;
}

#phone-client #main-text p {
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;

}

#phone-client .bottom p {
    font-size: 20px;
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 321px;
    margin-left: 10px;

}

#phone-client .bottom h5 {
    font-size: 14px;
    font-family: 'Oswald', sans-serif;
}

#phone-client #main-text h2 {
    font-size: 24px;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
}


#phone-gallery {
    padding: 10rem 0;

}

#phone-gallery .all {
    margin: -10 40px;
}

#phone-gallery .gallery-item {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
    border: 1px solid #E5E5E5;
    background-color: #fff;
}

#phone-gallery #main-text p {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 10px;
    letter-spacing: 0.25px;
    color: #C7A17A;
}

#phone-gallery #main-text h2 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    margin-top: 0;
    margin-bottom: 8px;
    color: #1F2226;
    font-size: 24px;
}

#phone-gallery .gallery-item:hover {
    color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#phone-gallery .gallery-item:hover .gallery-item-overlay {
    visibility: visible;
    opacity: 1;
}

#phone-gallery .gallery-item-overlay {
    position: absolute;
    top: 10px;
    right: -2px;
    bottom: 10px;
    left: 5px;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease 0s;
    opacity: 0;
    background-color: rgba(199, 161, 122, 0.85);
}

#phone-gallery .gallery-item i {
    font-size: 30px;
}

#phone-gallery {
    display: none;
}



@media(max-width:576px) {
    header {
        display: none;
    }

    main {
        display: none;
    }

    #About {
        display: none;
    }

    #Service {
        display: none;
    }

    #Area {
        display: none;
    }

    #Collection {
        display: none;
    }

    #Client {
        display: none;
    }

    #Gallery {
        display: none;
    }

    #phone-header {
        display: block;
    }

    #phone-main {
        display: block;
    }

    #phone-about {
        display: block;
    }

    #phone-service {
        display: block;
    }

    #phone-area {
        display: block;
    }

    #phone-collection {
        display: block;
    }

    #phone-client {
        display: block;
    }

    #phone-gallery {
        display: block;
    }


}